#p1{
background-color:#0047b3;
height: 50px;

}
#p3{
background-color:#b3b3b3;
height: 40px;
margin-top:300px;
}
#p2{
 margin-top: 0px;
}
#a1{
margin:0.5px;
color:white;
font-size:20px;
font-family:Arial;
}
#a2{
padding-right:50px;
padding-top:3px;
padding-bottom:5px;
float:right;
font-size:15px;
color:#ffffff;


}
#a3{
padding-right:20px;
padding-top:3px;
padding-bottom:5px
float:right;
float:right;
font-size:15px;
color:white;
}
#p7{
text-align:center;
color:#32CD32
}
#f1{
margin:0.5px;
padding-left:1px;
color:black;
font-size:13px;
padding-top:13px;
}
#p77{
text-align:center;
color:#b3b3b3;
}
#ct{
margin-left:65px;
margin-top:45px;
font-size:20px;
font-family:Arial;
}
#t11{
width:200px;
}
#t12{
width:120px;
}
#t13{
width:120px;
}
#t14{
width:120px;
}
#t15{
width:110px;
}
#t16{
width:80px;
}
#m1{
margin-left:65px;
margin-top:45px;
font-size:20px;
font-family:Arial;
}
#t1{
margin-left:65px;
text-align:left;
}
#p33{
background-color:#b3b3b3;
height: 40px;
margin-top:350px;
}
#l1{
color:#3498DB;
}
