#p1{
background-color:#0047b3;
height: 50px;

}
#p3{
background-color:#b3b3b3;
height: 40px;
margin-top:300px;
}
#p2{
 margin-top: 0px;
}
#a1{
margin:0.5px;
color:white;
font-size:20px;
font-family:Arial;
}
#a2{
padding-right:50px;
padding-top:5px;
float:right;
font-size:12px;
color:#ffffff;
}

#f1{
margin:0.5px;
padding-left:1px;
color:black;
font-size:13px;
padding-top:13px;
}
#b1{
background-color:#0047b3;
width:105px;
height:40px;
color:white;
}
#div1{
color:#32CD32;
}
#t1{
margin-left:65px;
text-align:left;
}
#m1{
margin-left:65px;
margin-top:45px;
font-size:20px;
font-family:Arial;
}
#t11{
width:200px;
}
#t12{
width:120px;
}
#t13{
width:70px;
}
#t14{
width:120px;
}
#t15{
width:110px;
}
#t16{
width:80px;
}
#e1{
font-size:25px;
font-family:Arial;
}
#dv1{
margin-left:65px;
margin-top:60px;
}
#d11{
width:80px;
}

#f1{
margin:0.5px;
padding-left:1px;
color:black;
font-size:13px;
padding-top:13px;
}
#e11{
font-size:25px;
font-family:Arial;
}
#div11{
margin-left:65px;
margin-top:60px;
}
#e12{
color:12B61D;
}
#div111{
color:#32CD32;
}
#p33{
background-color:#b3b3b3;
height: 40px;
margin-top:350px;
}
#label2{
text-align:right;
}
